<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue Tutt</title>

    <style media="screen">
      .is-loading {
        background: red;
      }
    </style>
  </head>
  <body>
    <div id="root">

      <h2>Incomplete Tasks</h2>
      <ul>
        <li v-for="task in incompleteTasks">{{task.description}}
          <input type="checkbox" :checked="task.completed" @change="checked(task)">
        </li>
      </ul>

      <h2>Completed Tasks</h2>
      <ul>
        <li v-for="task in completedTasks">{{task.description}}
          <input type="checkbox" :checked="task.completed" @change="checked(task)">
        </li>
      </ul>

      <h2>All Tasks</h2>
      <ul>
        <li v-for="task in tasks">{{task.description}}
          <input type="checkbox" :checked="task.completed" @change="checked(task)">
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js" charset="utf-8"></script>

    <script type="text/javascript">

      var app = new Vue({

        el: '#root',
        data: {
          tasks: [
            { description: 'Go to the store', completed: true},
            { description: 'Finish Tutorial', completed: false},
            { description: 'Eat', completed: false},
            { description: 'Sleep', completed: false},
            { description: 'Be Merry', completed: false},
            { description: 'Drink lots of water', completed: true},
          ]
        },
        methods: {
          checked(task) {
            // this.tasks.completed = !this.tasks[key].completed;
            task.completed = !task.completed;
          }
        },
        computed: {
          incompleteTasks() {
            return this.tasks.filter(task => !task.completed);
          },
          completedTasks() {
            return this.tasks.filter(task => task.completed);
          },



        }
      })
    </script>
  </body>
</html>
