<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
  </head>
  <body>

    <div id="app">
      <form>
        <div class="control">
          <label for="name" class="label">Project Name</label>

          <input type="text" id="name" name="name" class="input" v-model="name">
        </div>

        <div class="control">
          <label for="description" class="label">Project description</label>

          <input type="text" id="description" name="description" class="input" v-model="description">
        </div>

        <div class="control">
          <button type="button" class="button is-primary" @click="onSubmit">Create</button>
        </div>
      </form>
    </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js" charset="utf-8"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

  <script src="javascripts/app.js" charset="utf-8"></script>
</html>
